PyYAML
accelerate==0.18.0
attrs
decord
dm-tree
ffmpeg-python
ffmpy
gdown
gym3
gym==0.19
importlib-resources==5.12
librosa
matplotlib
moviepy
opencv-python
pydub
scikit-learn
timm==0.4.5
torch
torchaudio
tqdm
wandb
x_transformers==0.27.1
